data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
# Permitir os modelos usados pelo app
!models/model.pkl
!models/feature_names.pkl
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/
.DS_Store
